<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

  <div align="center">
    <h1>List of Users</h1>

    <a th:href="@{/showAddPage}">Add user</a>
    <hr color="red">

    <table border="1">

      <thead>
        <tr>
          <th>
            <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDr}}">
              User free name
            </a>
          </th>

          <th>
            <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDr}}">
              User free lastname
            </a>
          </th>

          <th>
            <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDr}}">
              User free email
            </a>
          </th>

<!--          <th>firstname</th>-->
<!--          <th>lastname</th>-->
<!--          <th>e-mail</th>-->
          <th>action</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="userTable: ${rootPage}">
          <td th:text="${userTable.firstname}"></td>
          <td th:text="${userTable.lastname}"></td>
          <td th:text="${userTable.email}"></td>
          <td>
            <a th:href="@{/updateItems/{id}(id=${userTable.id})}">Update</a>
            <a th:href="@{/deleteUser/{id}(id=${userTable.id})}">Delete</a>
          </td>
        </tr>
      </tbody>

    </table>


    <div th:if="${totalPages > 1}">

      <div>
        <div>
          Total rows: [[${totalItems}]]
        </div>

        <div>
          <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"> [[${i}]]} </a>
            <span th:unless="${currentPage != i}"> [[${i}]] </span> &nbsp; &nbsp;
          </span>
        </div>

        <div>
          <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDir}}">Next</a>
          <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div>
          <a th:if="${currentPage < totalPages}" th:href="@{'/page' + ${totalPages} '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDir}}">Last</a>
          <span th:unless="${currentPage < totalPages}">Last</span>
        </div>

      </div>

    </div>

  </div>

</body>
</html>