<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

  <div align="center">
    <h1>List of Users</h1>

    <a th:href="@{/showAddPage}">Add user</a>
    <hr color="red">

    <table border="1">

      <thead>
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>e-mail</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="userTable: ${rootPage}">
          <td th:text="${userTable.firstname}"></td>
          <td th:text="${userTable.lastname}"></td>
          <td th:text="${userTable.email}"></td>
        </tr>
      </tbody>

    </table>
  </div>

</body>
</html>